<!-- books.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinema</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>จองตั๋วหนัง</h1>
    <table>
      <tr>
        <th>Names</th>
        <th>Types</th>
        <th>Action</th>
      </tr>
      <% for(var i=0; i < movie.length; i++) { %>
      <tr>
        <td><%= movie[i].movie_name %></td>
        <td><%= movie[i].genre %></td>
        <td>
          <a href="/book/<%= movie[i].movie_id %>">View</a>
          <a href="/update/<%= movie[i].movie_id %>">Edit</a>
          <a href="/delete/<%= movie[i].movie_id %>">Delete</a>
        </td>
      </tr>
      <% } %>
    </table>
    <a href="/create">Create New Book</a>
  </body>
</html>
