<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดของร้าน</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div class="menu">
        <a href="/restaurant">หน้าหลัก</a>
        <a href="/reservations/create">แบบฟอร์ม</a>
        <a href="/reservation">ประวัติการจอง</a>
    </div>
    <div class="container">
        <h1>รายละเอียดของร้าน <%= restaurant.nameres %></h1>
        <div class="restaurant-details">
            <h2><%= restaurant.names %></h2>
            <p><strong>พิกัดร้าน: </strong> <%= restaurant.address %></p>
            <p><strong>เวลาเปิด-ปิด: </strong> <%= restaurant.opening_hours %></p>
            <p><strong>ข้อมูลเพิ่มเติม: </strong> <%= restaurant.additional_info %></p>
        </div>
        <a href="/reservations/create" class="back-btn">จองตอนนี้</a>
        <br>
        <a href="/restaurant" class="back-btn">กลับไปหน้าหลัก</a>
    </div>
</body>
</html>