<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update username</title>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
    <h1>update Restaurant</h1>
    <form method="post" action="/restaurant/update/<%= restaurant.restaurant_id %>">
        <label for="name" >name:</label>
        <input type="text" id="name" name="name" value="<%= restaurant.name %>">
        <br>
        <label for="location">location:</label>
        <input type="text" id="location" name="location" value="<%= restaurant.location %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/restaurant/<%= restaurant.id%>">View</a>
    <a href="/restaurant/delete/<%= restaurant.id%>">Delete</a>
    <a href="/restaurant">Back to list</a>
</body>
</html>