
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>จองตั่วหนัง</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>genre</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < movie.length; i++) { %>
            <tr>
                <td><%= movie[i].movie_name %></td>
                <td><%= movie[i].genre %></td>
                <td>
                    <a href="/movie/<%= movie[i].movie_id %>">จอง</a>
                    <a href="/movie/update/<%= movie[i].movie_id %>">Edit</a>
                    <a href="/movi/delete/<%= movie[i].movie_id %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/movi/create">Create New movie</a>
</body>
</html>