
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>จองตั่วหนัง</h1>
    <table>
        <tr>
            <th>capacity</th>
            <th>status</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < table.length; i++) { %>
            <tr>
                <td><%= table[i].movie_name %></td>
                <td><%= table[i].genre %></td>
                <td>
                    <a href="/table/<%= table[i].table_id %>">จอง</a>
                    <a href="/table/update/<%= table[i].table_id %>">Edit</a>
                    <a href="/tabl/delete/<%= table[i].table_id %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/tabl/create">Create New movie</a>
</body>
</html>