<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติการจอง</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <h1>ประวัติการจอง</h1>
    <table>
        <tr>
            <th>ชื่อ - นามสกุล</th>
            <th>อีเมล</th>
            <th>วันที่</th>
            <th>เวลา</th>
            <th>จำนวนคน</th>
            <th>Status</th>
        </tr>
        <% for(var i=0; i < table.length; i++) { %>
            <tr>
                <td><%= table[i].name %></td>
                <td><%= table[i].email %></td>
                <td><%= table[i].date %></td>
                <td><%= table[i].time %></td>
                <td><%= table[i].num_people %></td>
                <td>
                    <% if(table[i].status === 'ว่าง') { %>
                        <span style="color: green;">การจองสำเร็จ</span>
                    <% } else { %>
                        <span style="color: red;">โต๊ะถูกจองแล้ว</span>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </table>
    <div class="button-container">
        <a href="/restaurant" class="button">กลับไปหน้าหลัก</a>
    </div> 
</body>
</html>
