<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติการจองโต๊ะ</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div class="menu">
        <a href="/restaurant">หน้าหลัก</a>
        <a href="/reservations/create">แบบฟอร์ม</a>
        <a href="/reservation">ประวัติการจอง</a>
    </div>    
    <h1>ประวัติการจองโต๊ะ</h1>
    <table>
        <tr>
            <th>ชื่อ - นามสกุล</th>
            <th>อีเมล</th>
            <th>วันที่</th>
            <th>เวลา</th>
            <th>จำนวนคน</th>
            <th>โต๊ะ</th>
            <th>ตรวจสอบสถานะ</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < reservation.length; i++) { %>
            <tr>
                <td><%= reservation[i].name %></td>
                <td><%= reservation[i].email %></td>
                <td><%= reservation[i].date %></td>
                <td id="time_<%= i %>"><%= reservation[i].time %></td>
                <td><%= reservation[i].num_people %></td>
                <td><%= reservation[i].table_num %></td>
                <td>
                    <% var isOriginalReservation = true; %>
                    <% for (var j = 0; j < reservation.length; j++) { %>
                        <% if (i !== j && reservation[i].time === reservation[j].time && reservation[i].table_num === reservation[j].table_num) { %>
                            <% isOriginalReservation = false; %>
                            <% break; %>
                        <% } %>
                    <% } %>
                    <% if (isOriginalReservation) { %>
                        จองสำเร็จ
                    <% } else { %>
                        <% var isNewDuplicate = false; %>
                        <% for (var k = 0; k < i; k++) { %>
                            <% if (reservation[i].time === reservation[k].time && reservation[i].table_num === reservation[k].table_num) { %>
                                <% isNewDuplicate = true; %>
                                <% break; %>
                            <% } %>
                        <% } %>
                        <% if (isNewDuplicate) { %>
                            จองไม่สำเร็จ (เนื่องจากมีการจองแล้ว)
                        <% } else { %>
                            จองสำเร็จ
                        <% } %>
                    <% } %>
                </td>
                <td>
                    <a href="/reservation/delete/<%= reservation[i].reservation_id %>">ยกเลิกการจอง</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>
