<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติการจอง</title>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
    <h1>ประวัติการจอง</h1>
    <table>
        <thead>
            <tr>
                <th>ชื่อ</th>
                <th>อีเมล</th>
                <th>วันที่</th>
                <th>เวลา</th>
                <th>จำนวนคน</th>
            </tr>
        </thead>
        <tbody>
            <% reservation.forEach(function(reservation) { %>
                <tr>
                    <td><%= reservation.name %></td>
                    <td><%= reservation.email %></td>
                    <td><%= reservation.date %></td>
                    <td><%= reservation.time %></td>
                    <td><%= reservation.capacity %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <a href="/reservation" class="button">กลับไปยังหน้ารายการการจอง</a>
    <a href="/restaurant" class="button">กลับไปหน้าหลัก</a>
</body>
</html>