<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update username</title>
    <link rel="stylesheet" href="../../css/style.css"/>

</head>
<body>
    <h1>update Reservation</h1>
    <form method="post" action="/Reservation/update/<%= Reservation.Reservation %>">
        <label for="Reservation_id" >Reservation_id:</label>
        <input type="text" id="Reservation_id" name="Reservation_id" value="<%= Reservation.Reservation_id %>">
        <br>
        <label for="Reservation_Date_Time">Reservation_Date_Time:</label>
        <input type="text" id="Reservation_Date_Time" name="Reservation_Date_Time" value="<%= Reservation.Reservation_Date_Time %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/Reservation/<%= Reservation.id%>">View</a>
    <a href="/Reservation/delete/<%= Reservation.id%>">Delete</a>
    <a href="/Reservation">Back to list</a>
</body>
</html>