<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update username</title>
    <link rel="stylesheet" href="../../css/style.css"/>

</head>
<body>
    <h1>update showtime</h1>
    <form method="post" action="/showtime/update/<%= showtime.showtime_id %>">
        <label for="starttime" >starttime:</label>
        <input type="text" id="starttime" name="starttime" value="<%= showtime.starttime %>">
        <br>
        <label for="theater">theater:</label>
        <input type="text" id="theater" name="theater" value="<%= showtime.theater %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/showtime/<%=showtime.id%>">View</a>
    <a href="/showtime/delete/<%= showtime.id%>">Delete</a>
    <a href="/showtime">Back to list</a>
</body>
</html>