
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../css/style.css"/>

</head>
<body>
    <h1>รายชื่อ</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < user.length; i++) { %>
            <tr>
                <td><%= user[i].username %></td>
                <td><%= user[i].email %></td>
                <td>
                    <a href="/user/<%= user[i].user_id %>">View</a>
                    <a href="/user/update/<%= user[i].user_id %>">Edit</a>
                    <a href="/use/delete/<%= user[i].user_id %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/use/create">Create New user</a>
</body>
</html>